body {
    background-color: black;
}

#homepage-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#homepage-header h1 {
    color: white;
}

.slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
    background-image: url(https://cdn.mos.cms.futurecdn.net/WhUNT77BejHbH2tXUxgwe4.jpg);
}

.slideshow li:nth-child(2) { 
    background-image: url(https://si.wsj.net/public/resources/images/BN-WT559_36NGU_OR_20171227021244.jpg?width=620&height=413);
    animation-delay: 10s; 
}

.slideshow li:nth-child(3) { 
    background-image: url(https://i.pinimg.com/originals/8f/98/ad/8f98ade06c67d498a0841bbe136200af.jpg);
    animation-delay: 20s; 
}

@keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
}